# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

Some of the popular languages that Data Scientists use are:
1. Python 
2. R 
3. C ++ 
4. GO

Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
2. Sckit 
3. Numpy 
4. Matplotlib


| Data Science Tools |
|------|
| Jupyter Notebooks |
| R and R-Studio | 
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python.


3 * 5 = 15  
9 + 4 = 11  
10 - 4 = 6

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
m = 200
h = m/60 
h

3.3333333333333335

**Objectives**

* Create this notebook
* Do all exercises 
* Share it through GitHub

## PEDRO LOPEZ ARAGO